.about-description__content {
  display: flex;
  align-items: flex-start;
  @media (max-width: 1439px) {
    flex-direction: column;
  }
}

.about-description__picture {
  margin-right: 140px;
  flex: 1 0 auto;
  max-width: 817px;
  width: 100%;
  @media (max-width: 1919px) {
    max-width: 613px;
    margin-right: 108px;
  }
  @media (max-width: 1439px) {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.about-description__block {
  margin-right: 220px;
  @media (max-width: 1919px) {
    margin-right: 180px;
  }
  @media (max-width: 1439px) {
    margin-right: 10px;
    padding: 0 20px;
  }
  @media (max-width: 767px) {
    padding: 0 8px;
  }
}
