// Mobile first
// $mediaWidthMobile: 767px;
// $mediaWidthTablet: 1023px;
// $mediaWidthTabletHorizontal: 1365px;
// $mediaWidthLaptop: 1919px;
// $mediaDesctop: 1919px;

$fontHeader: "Montserrat", "sans-serif";
$fontBase: "Roboto", "sans-serif";

$colorOrange: #ff7900;
$colorMainText: #222222;
$colorAddText: #333333;