footer.footer
    .container 
        .footer__wrapper 
            a(href="index.html").logo.footer__logo
                p Маршрут
                span.logo__circle 
                p Тв
            .footer__content
                .footer__links
                    a(href="") Аудитория
                    a(href="") Как это работает?
                    a(href="") Отзывы
                    a(href="") Цены
                    a(href="contacts.html") Контакты
                    .social.footer__social
                        .social__item.social__vk
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="18" cy="18" r="17.5" stroke="#ffffff"/><path d="M27.6607 13.1368C27.8022 12.6973 27.6607 12.375 26.9917 12.375H24.7756C24.2117 12.375 23.954 12.6538 23.8125 12.9601C23.8125 12.9601 22.6857 15.5301 21.089 17.1966C20.5737 17.6815 20.3382 17.8346 20.0573 17.8346C19.9168 17.8346 19.7127 17.6815 19.7127 17.2419V13.1368C19.7127 12.6094 19.55 12.375 19.0801 12.375H15.5977C15.246 12.375 15.0338 12.6189 15.0338 12.8514C15.0338 13.3505 15.8321 13.4658 15.914 14.8723V17.9234C15.914 18.5917 15.7856 18.7136 15.5027 18.7136C14.7518 18.7136 12.9248 16.1341 11.8404 13.1813C11.6292 12.6075 11.416 12.3759 10.8501 12.3759H8.63494C8.00132 12.3759 7.875 12.6548 7.875 12.961C7.875 13.5112 8.62584 16.2334 11.3725 19.8337C13.2037 22.2922 15.7816 23.625 18.1301 23.625C19.5378 23.625 19.7117 23.3291 19.7117 22.8187V20.9604C19.7117 20.3687 19.8461 20.2496 20.2917 20.2496C20.6191 20.2496 21.183 20.4046 22.4978 21.589C23.9995 22.9936 24.2481 23.6241 25.0919 23.6241H27.307C27.9396 23.6241 28.2559 23.3282 28.074 22.7441C27.8749 22.1627 27.1574 21.3168 26.2055 20.3158C25.6881 19.7449 24.915 19.1305 24.6796 18.8233C24.3511 18.4272 24.4461 18.2524 24.6796 17.9008C24.6806 17.9017 27.3798 14.3458 27.6607 13.1368Z" stroke="#ffffff"/></svg>
                        .social__item.social__inst
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="18" cy="18" r="17.5" stroke="#ffffff"/><path d="M22.2341 9.53125H13.7659C11.4274 9.53125 9.53174 11.4269 9.53174 13.7654V22.2336C9.53174 24.5721 11.4274 26.4678 13.7659 26.4678H22.2341C24.5726 26.4678 26.4683 24.5721 26.4683 22.2336V13.7654C26.4683 11.4269 24.5726 9.53125 22.2341 9.53125Z" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.9988 21.1764C19.7527 21.1764 21.1744 19.7546 21.1744 18.0008C21.1744 16.247 19.7527 14.8252 17.9988 14.8252C16.245 14.8252 14.8232 16.247 14.8232 18.0008C14.8232 19.7546 16.245 21.1764 17.9988 21.1764Z" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.7642 13.2363V13.2373" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        .social__item.social__youtube 
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="18" cy="18" r="17.5" stroke="#ffffff"/><path d="M23.272 10.4404H12.4719C10.086 10.4404 8.15186 12.3746 8.15186 14.7605V21.2405C8.15186 23.6264 10.086 25.5606 12.4719 25.5606H23.272C25.6579 25.5606 27.592 23.6264 27.592 21.2405V14.7605C27.592 12.3746 25.6579 10.4404 23.272 10.4404Z" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.71 14.7617L21.11 18.0017L15.71 21.2418V14.7617Z" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"/></svg>

                .footer__contacts 
                    p Телефон
                    a(href="tel:+74712546000") +7 (4712) 54-60-00
                    p email
                    a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
                    p Адрес
                    a г. Курск ул. Карла Либкнехта, дом 9а, 4 этаж 

