meta(charset="utf-8")
title Title here
meta(name="viewport" content="minimum-scale=1.0, target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(content="ie=edge" http-equiv="x-ua-compatible")
link(rel="stylesheet" href="css/style.min.css")