doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header
        main
            section.articles
                .container
                    h2.articles__title.title-container Статьи
                .articles__wrapper 
                    //- articles__row
                    .articles__row
                        .articles__picture 
                            img(src="img/photos/artic1.png" alt="")
                        .articles__content.articles__content--mode
                            p.articles__date 31 февраля 2033 г.
                            p.articles__caption Как правильно выбрать частоту и хронометраж ролика?
                            .articles__text 
                                p Чаще всего продолжительность рекламных роликов составляет от 15 секунд (этого времени вполне достаточно для донесения основного рекламного сообщения до аудитории, но бывают и исключения в виде 30 секундных и одноминутных роликов. Для классической рекламной кампании с продолжительностью от 4 до 6 недель стандартным параметром размещения ролика в эфире является 15-ти секундный ролик с периодичностью показа 4–5 раз в час. Поскольку средняя продолжительность поездки в маршрутке составляет 15–20 минут, то такая периодичность показа ролика подходит для оптимального контакта со зрителем и усвоением информации видеоролика.
                    //- articles__row
                    .articles__row
                        .articles__content 
                            p.articles__date 31 февраля 2033 г.
                            p.articles__caption Как правильно выбрать частоту и хронометраж ролика?
                            .articles__text 
                                p Чаще всего продолжительность рекламных роликов составляет от 15 секунд (этого времени вполне достаточно для донесения основного рекламного сообщения до аудитории, но бывают и исключения в виде 30 секундных и одноминутных роликов. Для классической рекламной кампании с продолжительностью от 4 до 6 недель стандартным параметром размещения ролика в эфире является 15-ти секундный ролик с периодичностью показа 4–5 раз в час. Поскольку средняя продолжительность поездки в маршрутке составляет 15–20 минут, то такая периодичность показа ролика подходит для оптимального контакта со зрителем и усвоением информации видеоролика.
                        .articles__picture 
                            img(src="img/photos/artic2.png" alt="")

                    .articles__button.button-main 
                        button.button Показать ещё




        include modules/footer.pug
        include modules/modal.pug
        include modules/script.pug