doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header
        main
            section.questions
                .container 
                    h2.questions__title.title-container Вопросы и ответы
                .questions__wrapper
                    .questions__picture 
                        img(src="img/photos/questions.png" alt="")
                    //- tabs
                    .questions__tabs.tabs 
                        .tabs__row
                            p.tabs__caption Как правильно выбрать частоту и хронометраж ролика?
                            .tabs__content
                                p Чаще всего продолжительность рекламных роликов составляет от 15 секунд (этого времени вполне достаточно для донесения основного рекламного сообщения до аудитории, но бывают и исключения в виде 30 секундных и одноминутных роликов. Для классической рекламной кампании с продолжительностью от 4 до 6 недель стандартным параметром размещения ролика в эфире является 15-ти секундный ролик с периодичностью показа 4–5 раз в час. Поскольку средняя продолжительность поездки в маршрутке составляет 15–20 минут, то такая периодичность показа ролика подходит для оптимального контакта со зрителем и усвоением информации видеоролика.
                        .tabs__row
                            p.tabs__caption Кто ездит в маршрутках?
                            .tabs__content 
                                p Чаще всего продолжительность рекламных роликов составляет от 15 секунд (этого времени вполне достаточно для донесения основного рекламного сообщения до аудитории, но бывают и исключения в виде 30 секундных и одноминутных роликов. Для классической рекламной кампании с продолжительностью от 4 до 6 недель стандартным параметром размещения ролика в эфире является 15-ти секундный ролик с периодичностью показа 4–5 раз в час. Поскольку средняя продолжительность поездки в маршрутке составляет 15–20 минут, то такая периодичность показа ролика подходит для оптимального контакта со зрителем и усвоением информации видеоролика.
                        .tabs__row
                            p.tabs__caption Каковы преимущества размещения рекламы на мониторах в общественном транспорте?
                            .tabs__content 
                                p Чаще всего продолжительность рекламных роликов составляет от 15 секунд (этого времени вполне достаточно для донесения основного рекламного сообщения до аудитории, но бывают и исключения в виде 30 секундных и одноминутных роликов. Для классической рекламной кампании с продолжительностью от 4 до 6 недель стандартным параметром размещения ролика в эфире является 15-ти секундный ролик с периодичностью показа 4–5 раз в час. Поскольку средняя продолжительность поездки в маршрутке составляет 15–20 минут, то такая периодичность показа ролика подходит для оптимального контакта со зрителем и усвоением информации видеоролика.
                        .tabs__row
                            p.tabs__caption Исправно ли работают мониторы в маршрутках?
                            .tabs__content 
                                p Чаще всего продолжительность рекламных роликов составляет от 15 секунд (этого времени вполне достаточно для донесения основного рекламного сообщения до аудитории, но бывают и исключения в виде 30 секундных и одноминутных роликов. Для классической рекламной кампании с продолжительностью от 4 до 6 недель стандартным параметром размещения ролика в эфире является 15-ти секундный ролик с периодичностью показа 4–5 раз в час. Поскольку средняя продолжительность поездки в маршрутке составляет 15–20 минут, то такая периодичность показа ролика подходит для оптимального контакта со зрителем и усвоением информации видеоролика.
                        .tabs__row
                            p.tabs__caption Как оценить эффективность рекламной кампании?
                            .tabs__content 
                                p Чаще всего продолжительность рекламных роликов составляет от 15 секунд (этого времени вполне достаточно для донесения основного рекламного сообщения до аудитории, но бывают и исключения в виде 30 секундных и одноминутных роликов. Для классической рекламной кампании с продолжительностью от 4 до 6 недель стандартным параметром размещения ролика в эфире является 15-ти секундный ролик с периодичностью показа 4–5 раз в час. Поскольку средняя продолжительность поездки в маршрутке составляет 15–20 минут, то такая периодичность показа ролика подходит для оптимального контакта со зрителем и усвоением информации видеоролика.
                        .tabs__row
                            p.tabs__caption Как вы отслеживаете работу медиакомплексов?
                            .tabs__content 
                                p Чаще всего продолжительность рекламных роликов составляет от 15 секунд (этого времени вполне достаточно для донесения основного рекламного сообщения до аудитории, но бывают и исключения в виде 30 секундных и одноминутных роликов. Для классической рекламной кампании с продолжительностью от 4 до 6 недель стандартным параметром размещения ролика в эфире является 15-ти секундный ролик с периодичностью показа 4–5 раз в час. Поскольку средняя продолжительность поездки в маршрутке составляет 15–20 минут, то такая периодичность показа ролика подходит для оптимального контакта со зрителем и усвоением информации видеоролика.



            section.feedback.container 
                h2.visually-hidden Обратная связь
                p.feedback__title Остались <span>вопросы</span> <br> напишите нам
                .feedback__row.button-main
                    a(href="brif.html").button Заполнить Бриф
                    a.button.show-modal Написать нам 






        include modules/footer.pug
        include modules/modal.pug
        include modules/script.pug
