// @import "utils/stylesheet";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./node_modules/normalize.css/normalize";
@import "utils/fancybox.scss";
@import "utils/jquery.jscrollpane.scss";
@import "utils/slick";
@import "utils/variables";
@import "mixins/media";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-family: $fontBase;
  font-weight: 400;
  color: $colorMainText;
  &.hidden {
    overflow: hidden;
  }
}

.container {
  max-width: 1920px;
  padding: 0 100px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1919px) {
    padding: 0 75px;
  }
  @media (max-width: 1439px) {
    padding: 0 20px;
  }
  @media (max-width: 767px) {
    padding: 0 8px;
  }
}

.container-small {
  max-width: 1435px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1919px) {
    max-width: 1075px;
  }
  @media (max-width: 1439px) {
    max-width: 100%;
    padding: 0 20px;
  }
  @media (max-width: 767px) {
    padding: 0 8px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

section {
  margin-bottom: 200px;
  @media (max-width: 1919px) {
    margin-bottom: 100px;
  }
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.title-container {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 65px;
  text-transform: uppercase;
  @media (max-width: 1919px) {
    font-size: 27px;
    margin-bottom: 40px;
  }
  @media (max-width: 1439px) {
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  @media (max-width: 767px) {
    display: none;
  }
}

.overlay {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
